listen:
  hostname: '0.0.0.0'
  port: 9000

webserver:
  https: true
  hostname: '{{ peertube_fqdn | default(ansible_fqdn) }}'
  port: 443

rates_limit:
  api:
    window: 10 seconds
    max: 50
  login:
    window: 5 minutes
    max: 15
  signup:
    window: 5 minutes
    max: 2
  ask_send_email:
    window: 5 minutes
    max: 3

database:
  hostname: '{{ peertube_postgres_host if (peertube_postgres_host | default(False)) else (hostvars[groups['postgres_peertube'][0]]['corosync_vip'] | default(hostvars[groups['postgres_peertube'][0]]['ansible_fqdn'])) }}'
  pool:
    max: 5
  port: 5432
  ssl: false
  suffix: ''
  username: '{{ peertube_postgres_user }}'
  password: '{{ peertube_postgres_password }}'

redis:
  db: {{ peertube_redis_database }}
  hostname: '{{ peertube_redis_host if (peertube_redis_host | default(False)) else ((hostvars[groups['lb_back'][0]]['corosync_vip'] | default(hostvars[groups['lb_back'][0]]['ansible_fqdn'])) if (groups['redis_peertube'] | length > 1 and groups['lb_back'] | length > 0) else (hostvars[groups['redis_peertube'][0]]['corosync_vip'] | default(hostvars[groups['redis_peertube'][0]]['ansible_fqdn']))) }}'
  port: 6379
  auth: null

{% if peertube_smtp_server | default(False) %}
smtp:
  ca_file: /etc/ssl/certs/ca-certificates.crt
{% if peertube_smtp_tls %}
  disable_starttls: true
{% elif peertube_smtp_starttls %}
  disable_starttls: false
{% else %}
  disable_starttls: true
{% endif %}
{% if peertube_smtp_username %}
{% if '@' in peertube_smtp_username %}
  from_address: {{ peertube_smtp_username }}
{% else %}
  from_address: {{ peertube_smtp_username | default('peertube') }}@{{ peertube_smtp_domain | default(peertube_fqdn | default(ansible_fqdn)) }}
{% endif %}
{% else %}
  from_address: {{ peertube_smtp_mailfrom | default('peertube@' ~ (peertube_smtp_domain | default(peertube_fqdn | default(ansible_fqdn)))) }}
{% endif %}
  hostname: {{ peertube_smtp_server }}
  port: {{ peertube_smtp_port | default(25) }}
  sendmail: null
{% if peertube_smtp_tls %}
  tls: true
{% elif peertube_smtp_starttls %}
  tls: false
{% else %}
  tls: false
{% endif %}
  transport: smtp
{% if peertube_smtp_username and peertube_smtp_password %}
  password: {{ peertube_smtp_password }}
  username: {{ peertube_smtp_username }}
{% else %}
  password: null
  username: null
{% endif %}

email:
  body:
    signature: "PeerTube"
  subject:
    prefix: "[PeerTube]"

{% endif %}
storage:
  tmp: '/data/tmp/'
  avatars: '/data/avatars/'
  videos: '/data/videos/'
  streaming_playlists: '/data/streaming-playlists'
  redundancy: '/data/redundancy/'
  logs: '/data/logs/'
  previews: '/data/previews/'
  thumbnails: '/data/thumbnails/'
  torrents: '/data/torrents/'
  captions: '/data/captions/'
  cache: '/data/cache/'
  plugins: '/data/plugins/'
  client_overrides: '/data/client-overrides/'

log:
  level: 'info'
  rotation:
    enabled : true
    maxFileSize: 12MB
    maxFiles: 20
  anonymizeIP: false
  log_ping_requests: false
  prettify_sql: false

trending:
  videos:
    interval_days: 7
    algorithms:
      enabled:
        - 'best'
        - 'hot'
        - 'most-viewed'
        - 'most-liked'
      default: 'most-viewed'

redundancy:
  videos:
    check_interval: '1 hour'
    strategies:
    - size: '10GB'
      min_lifetime: '48 hours'
      min_views: 10
      strategy: 'recently-added'

tracker:
  enabled: true
  private: true
  reject_too_many_announces: true

admin:
  email: 'admin@{{ peertube_fqdn | default(ansible_fqdn) }}'

remote_redundancy:
  videos:
    accept_from: 'anybody'

csp:
{% if peertube_csp_enable %}
  enabled: true
{% else %}
  enabled: false
{% endif %}
  report_only: true
  report_uri: ''

security:
  frameguard:
{% if peertube_allow_embedded | default(False) %}
    enabled: false
{% else %}
    enabled: true
{% endif %}

history:
  videos:
    max_age: -1

views:
  videos:
    remote:
      max_age: '15 days'

plugins:
  index:
    enabled: true
    check_latest_versions_interval: '12 hours'
    url: 'https://packages.joinpeertube.org'

federation:
  videos:
    cleanup_remote_interactions: false
    federate_unlisted: false

peertube:
  check_latest_version:
    enabled: false
    url: 'https://joinpeertube.org/api/v1/versions.json'

cache:
  captions:
    size: 500
  previews:
    size: 500
  torrents:
    size: 500

contact_form:
  enabled: true

signup:
  enabled: false
  filters:
    cidr:
      whitelist: []
      blacklist: []
  limit: 10
  minimum_age: 18
  requires_email_verification: false

user:
  video_quota: -1
  video_quota_daily: -1

transcoding:
  allow_additional_extensions: true
  allow_audio_files: true
  concurrency: 1
  enabled: true
  hls:
    enabled: false
  profile: 'default'
  resolutions:
    0p: false
    240p: false
    360p: false
    480p: true
    720p: true
    1080p: true
    1440p: false
    2160p: false
  threads: 1
  webtorrent:
    enabled: true

live:
  allow_replay: true
  enabled: true
  max_duration: 6 hours
  max_instance_lives: -1
  max_user_lives: -1
  rtmp:
    port: 1935
  transcoding:
    enabled: true
    profile: 'default'
    resolutions:
      240p: false
      360p: false
      480p: true
      720p: true
      1080p: true
      1440p: false
      2160p: false
    threads: 5

import:
  videos:
    concurrency: 1
    http:
      enabled: false
      force_ipv4: false
      proxy:
        enabled: false
        url: ""
    torrent:
      enabled: false

auto_blacklist:
  videos:
    of_users:
      enabled: false

instance:
  name: "{{ peertube_instance_name }}"
  short_description: "{{ peertube_instance_short_description }}"
  description: "{{ peertube_instance_description }}"
  terms: "{{ peertube_instance_terms }}"
  code_of_conduct: "{{ peertube_instance_codeofconduct }}"
  moderation_information: ''
  creation_reason: "{{ peertube_instance_createreason }}"
  administrator: '{{ peertube_instance_administrator }}'
  maintenance_lifetime: ''
  business_model: "{{ peertube_instance_businessmodel }}"
  hardware_information: '{{ ansible_processor_vcpus }}CPU, {{ ansible_memory_mb['real']['total'] }}MB RAM'
  languages:
{% for lang in peertube_languages %}
  - {{ lang }}
{% endfor %}
  categories: []
  default_client_route: '/videos/trending'
  is_nsfw: {{ 'true' if (peertube_is_nsfw) else 'false' }}
  default_nsfw_policy: 'do_not_list'
  customizations:
    javascript: ''
    css: ''
  robots: |
    User-agent: *
    Disallow: /
  securitytxt:
    "# See https://github.com/Chocobozzz/PeerTube/blob/develop/SECURITY.md"

services:
  twitter:
    username: '{{ peertube_twitter_username }}'
    whitelisted: false

followers:
  instance:
    enabled: true
    manual_approval: false

followings:
  instance:
    auto_follow_back:
      enabled: false
    auto_follow_index:
      enabled: false
      index_url: ''

theme:
  default: 'default'

broadcast_message:
  enabled: false
  message: ''
  level: 'info'
  dismissable: false

search:
  remote_uri:
    users: true
    anonymous: false
  search_index:
    enabled: false
    url: 'https://search.joinpeertube.org/'
    disable_local_search: false
    is_default_search: false

trust_proxy:
{% for proxy in peertube_trust_proxies %}
- '{{ proxy }}'
{% endfor %}
{% for node in groups['peertube'] %}
- '{{ hostvars[node]['ansible_default_ipv4']['address'] }}/32'
{% endfor %}
